**SQL**

### Bu projede, SQL sorguları kullanılarak veritabanı tablolarında veri seçme, filtreleme, sıralama ve birleştirme işlemleri yapma becerileri geliştirilmektedir.
### Bu kapsamda çalışılan veriler, Employees ve Departments tablolarında tutulmaktadır.

In [ ]:
# Belirli Kolonları Seçme

SELECT FirstName, LastName, Salary
FROM Employees;

**Bu sorgu, Employees tablosundaki sadece FirstName, LastName ve Salary kolonlarındaki verileri getirir. Bu şekilde yalnızca bu üç kolonun verilerini görüntülenir.**

In [ ]:
# DISTINCT Komutu ile Tekrarları Önleme

SELECT DISTINCT DepartmenIDFROM Departments;

****Bu sorgu, Employees tablosundaki Department kolonundaki benzersiz (distinct) değerleri listeler. Aynı departman adı birden fazla kez geçmiş olsa bile her departman yalnızca bir kez listelenir.****

In [ ]:
# Belirli Bir Departmana Ait Çalışanları Listeleme

SELECT * 
FROM Employees
WHERE DepartmentID = '1';

**Bu sorgu, Employees tablosunda yalnızca Department kolonunda 'IT' olan çalışanların tüm bilgilerini getirir. Yani sadece IT departmanında çalışanları listeler.**

In [ ]:
# Maaşa Göre Sıralama

SELECT * 
FROM Employees
ORDER BY Salary DESC;

**Bu sorgu, Employees tablosundaki tüm verileri maaşlarına göre büyükten küçüğe (desc) sıralar. Dolayısyla en yüksek maaşlı çalışanlar ilk sıralarda yer alır.**

In [ ]:
# Kolonları Birleştirme (Concatenation)

SELECT CONCAT(FirstName, ' ', LastName) AS FullName
FROM Employees;

**Bu sorgu, FirstName ve LastName kolonlarındaki verileri birleştirir ve yeni bir kolon olarak FullName adını verir. Bu kolon, her çalışanın tam adını içerir.**