**SQL**

**SQL BOOTCAMP ÜÇÜNCÜ HAFTA ÖDEV SORULARI**

### Turkstudentco’da veri bilimci olarak ilk iş gününde, Chinook veritabanından Invoice tablosu verildi. Bu tabloyu inceledikten sonra kafanızda birkaç soru oluştu ve bu soruları cevaplamak için SQL sorguları yazmanız istendi. 

### Bu ödevin amacı, veritabanı sorgulama becerilerini geliştirmek ve farklı SQL işlemlerinin uygulanmasını sağlamaktır.

In [ ]:
# USA ülkesine ait, 2009 yılı içerisindeki tüm faturaların toplamı

SELECT SUM(total) AS total_invoice_amount
FROM invoice
WHERE billing_country = 'USA'
AND strftime('%Y', invoice_date) = '2009';

**invoice tablosundan USA ülkesine ait 2009 yılındaki tüm faturaların toplamı hesaplanır. strftime('%Y', invoice_date) fonksiyonu kullanılarak yalnızca yıl bilgisi alınır.**

In [ ]:
# Track, PlaylistTrack ve Playlist tablolarını JOIN ile birleştirme

SELECT t.track_id, t.name AS track_name, pt.playlist_id, p.name AS playlist_name
FROM track t
JOIN playlisttrack pt ON t.track_id = pt.track_id
JOIN playlist p ON pt.playlist_id = p.playlist_id;

****track, playlisttrack ve playlist tablolarını JOIN ile birleştirerek her parçanın hangi çalma listesine ait olduğunu listeleyen sorgu.****

In [ ]:
# "Let There Be Rock" albümüne ait parçalar ve sanatçı bilgisi

SELECT t.track_id, t.name AS track_name, t.milliseconds, a.title AS album_title, ar.name AS artist_name
FROM track t
JOIN album a ON t.album_id = a.album_id
JOIN artist ar ON a.artist_id = ar.artist_id
WHERE a.title = 'Let There Be Rock'
ORDER BY t.milliseconds DESC;

**track, album ve artist tabloları JOIN kullanılarak birleştirilir. Albüm başlığı "Let There Be Rock" olarak filtrelenerek ilgili parçalar listelenir. Sonuçları parça süresine göre büyükten küçüğe sıralanır.**