**SQL**

**Chinook Veritabanı - Invoice Tablosu SQL Sorguları**

### Turkstudentco’da veri bilimci olarak ilk iş gününde, Chinook veritabanından Invoice tablosu verildi. Bu tabloyu inceledikten sonra kafanızda birkaç soru oluştu ve bu soruları cevaplamak için SQL sorguları yazmanız istendi. 

### Bu ödevin amacı, veritabanı sorgulama becerilerini geliştirmek ve farklı SQL işlemlerinin uygulanmasını sağlamaktır.

In [ ]:
# Invoice tablosunda, tüm değerleri NULL olan kayıtların sayısı

SELECT COUNT(*)
FROM Invoice
WHERE invoice_id IS NULL
  AND customer_id IS NULL
  AND invoice_date IS NULL
  AND billing_address IS NULL
  AND billing_city IS NULL
  AND billing_state IS NULL
  AND billing_country IS NULL
  AND billingpostal_code IS NULL
  AND total IS NULL;

**Bu sorgu, Invoice tablosunda tüm sütunları NULL olan kayıtları saymaktadır.**

In [ ]:
# Total değerlerini iki katına çıkarma ve karşılaştırma

SELECT invoice_id, total AS eski_total, total * 2 AS yeni_total
FROM Invoice
ORDER BY yeni_total DESC;

****Bu sorgu, her faturadaki toplam ücreti iki katına çıkarır ve yeni toplam değerine göre büyükten küçüğe sıralar.****

In [ ]:
# Adres kolonundan yeni bir "Açık Adres" oluşturma ve 2013 yılı Ağustos ayına göre filtreleme

SELECT
    invoice_id,
    LEFT(billing_address, 3) || '...' || RIGHT(billing_address, 4) AS "Açık Adres"
FROM Invoice
WHERE EXTRACT(YEAR FROM invoice_date) = 2013
  AND EXTRACT(MONTH FROM invoice_date) = 8;

**Bu sorgu, fatura adresinin ilk 3 karakteri ile son 4 karakterini birleştirerek "Açık Adres" oluşturur. Ayrıca, 2013 yılının Ağustos ayına ait faturaları filtreler.**